# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

examples/03-taskmaster/tasks

node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
